{% raw %}
{% include head.html %}

<body class="{{ page.classes }}">
Add commentMore actions
  {% include skip-links.html %}
  {% include masthead.html %}
  {% include browser-upgrade.html %}
  {% include search-overlay.html %}

  <main id="main" class="page-content" aria-label="Content">
    <div class="wrap">
      <article class="page">

        {% if page.title %}
          <header>
            <h1 class="page__title">{{ page.title | smartify }}</h1>
          </header>
        {% endif %}

        <div class="page__content">
          {{ content }}
        </div>

      </article>
    </div>
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>
{% endraw %}
